<html ng-app="MausTickets">
	<head>
		<title>Consultas de Mau's Tickets</title>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    	<!--	<script src="js/controller.js"></script>
    		<script src="js/toggle.js"></script> -->
    		<script src="js/consults.js"></script>
    		<link href="css/settings.css" rel="stylesheet">
  	</head>
  	<body ng-controller="consultas" background="img/register.png">
		<form>
			<div class="row">
	   			<p ng-click="consulta5()" class="col-2" class="button"> 
					<input type="submit" value="Cant. entradas por evento" /> 
				</p>
				<p ng-click="consulta3()" class="col-2" class="button"> 
					<input type="submit" value="Monto total segun evento" /> 
				</p>
				<p ng-click="consulta4()" class="col-3" class="button"> 
					<input type="button" value="Monto total segun provincia" /> 
				</p>
				<p ng-click="consulta6()" class="col-3" class="button"> 
					<input type="button" value="Cant. entradas por cliente" /> 
				</p>
			</div>
			<div class="row">
				<p ng-click="consulta1()" class="col-3" class="button"> 
					<input type="button" value="Cantidad de entradas para evento segun sexo" /> 
				</p>
				<p ng-click="consulta2()" class="col-4" class="button"> 
					<input type="button" value="Cantidad de entradas para evento segun provincia" /> 
				</p>
				<select class="col-3" id="selectOpt1" ng-model="selected_event"> <!-- ng-model -->
	      				<option selected="selected">-Evento</option>
	      				<option ng-repeat="event in events">{{event.name}}</option>
				</select>
			</div>
			<p class="col-12">
				<a href="admin.html" class="button">Volver</a>
			</p>
		</form>
		<div class="row"></div>
		<div class="col-12"></div>
		<h2 style="text-align: center">Resultados de consultas</h2>
		<table id="myTable" style="width:100%">
  			<tr>
    				<th ng-repeat="t in title">{{t}}</th>
  			</tr>
			<tr ng-show="flag==1">
				<td align="center">{{selected_event}}</td>
				<td align="center">{{result.male}}</td>
				<td align="center">{{result.female}}</td>
			</tr>
			<tr ng-show="flag==2">
				<td align="center">{{selected_event}}</td>
				<td align="center">{{result.San_Jose}}</td>
				<td align="center">{{result.Alajuela}}</td>
				<td align="center">{{result.Cartago}}</td>
				<td align="center">{{result.Heredia}}</td>
				<td align="center">{{result.Puntarenas}}</td>
				<td align="center">{{result.Guanacaste}}</td>
				<td align="center">{{result.Limon}}</td>
			</tr>
			<tr ng-show="flag==3" ng-repeat="r in result">
				<td align="center">{{r.event}}</td>
				<td align="center">{{r.sale}}</td>
			</tr>
			<tr ng-show="flag==4">
				<td align="center">San Jose</td>
				<td align="center">{{result.San_Jose}}</td>
			</tr>
			<tr ng-show="flag==4">
				<td align="center">Alajuela</td>
				<td align="center">{{result.Alajuela}}</td>
			</tr>
			<tr ng-show="flag==4">
				<td align="center">Cartago</td>
				<td align="center">{{result.Cartago}}</td>
			</tr>
			<tr ng-show="flag==4">
				<td align="center">Heredia</td>
				<td align="center">{{result.Heredia}}</td>
			</tr>
			<tr ng-show="flag==4">
				<td align="center">Puntarenas</td>
				<td align="center">{{result.Puntarenas}}</td>
			</tr>
			<tr ng-show="flag==4">
				<td align="center">Guanacaste</td>
				<td align="center">{{result.Guanacaste}}</td>
			</tr>
			<tr ng-show="flag==4">
				<td align="center">Limon</td>
				<td align="center">{{result.Limon}}</td>
			</tr>
			<tr ng-show="flag==5" ng-repeat="r in result">
				<td align="center">{{r.name}}</td>
				<td align="center">{{r.sold_tickets}}</td>
			</tr>
			<tr ng-show="flag==6" ng-repeat="r in result">
				<td align="center">{{r.username}}</td>
				<td align="center">{{r.tickets}}</td>
			</tr>
		</table> 

		</div>
  	</body>
</html>
